<!--Contacts-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contacs</title>
  </head>
  <body>
    <!-- Modal buttons -->

    <!-- Our locations button -->
    <div data-modal class="modal is-hidden">
      <div class="contacts__inner-div">
        <div class="contacts__button-container">
          <button data-modal-close class="contacts__button-close">
            <svg class="contacts__svg" width="18" height="18">
              <use href="./images/contacts/contacts-icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>

        <div class="contacts__map">
          <h2 class="contacts__title-map">See you in our Locations.</h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69763.43611998046!2d-74.22270324798029!3d40.736884021188125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c254800f03fbe5%3A0xc3102364a9100bc7!2sThe%20Newark%20Museum%20of%20Art!5e0!3m2!1sen!2sro!4v1680867399582!5m2!1sen!2sro"
            class="contacts__map-dimension"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <button class="contacts__button-reserved">Book a table</button>
      </div>
    </div>

    <!-- Franchise -->

    <div data-modal-franchise class="modal is-hidden">
      <div class="contacts__inner-div-franchise">
        <div class="contacts__button-container">
          <button data-modal-close-franchise class="contacts__button-close">
            <svg class="contacts__svg" width="18" height="18">
              <use href="./images/contacts/contacts-icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <h2 class="contacts__title-map">Subscribe for newsfeed</h2>
        <form
          name="signup_contacts__form"
          class="contacts__form-description"
          autocomplete="on"
        >
          <div class="contacts__form-description-container">
            <label class="contacts__form-description-sections">
              Name
              <input class="contacts__input" type="text" name="Name" />
              <svg class="svg" width="16" height="16">
                <use
                  href="./images/contacts/contacts-icons.svg#icon-person"
                ></use>
              </svg>
            </label>
          </div>
          <div class="contacts__form-description-container">
            <label class="contacts__form-description-sections">
              Telephone
              <input class="contacts__input" type="tel" name="Telephone" />
              <svg class="svg" width="16" height="16">
                <use
                  href="./images/contacts/contacts-icons.svg#icon-phone"
                ></use>
              </svg>
            </label>
          </div>
          <div class="contacts__form-description-container">
            <label class="contacts__form-description-sections">
              Email
              <svg class="svg" width="16" height="16">
                <use
                  href="./images/contacts/contacts-icons.svg#icon-email"
                ></use>
              </svg>
              <input class="contacts__input" type="email" name="Email" />
            </label>
          </div>
          <label class="contacts__form-description-sections">
            Comments
            <textarea
              class="contacts__form-description-comments"
              name="feedback"
              rows="5"
              placeholder="Enter the text"
            ></textarea>
          </label>

          <button class="contacts__form-button-send" type="submit">Send</button>
        </form>
      </div>
    </div>

    <!-- Contacts Section -->

    <section class="contacts" id="contacts">
      <h2 hidden>ff</h2>
      <div class="contacts__cards-container">
        <article class="contacts__container contacts__receptive">
          <div class="contacts__header">
            <h3 class="contacts__crawler">CAFE</h3>
            <h3 class="contacts__title">Chicago</h3>
            <p class="contacts__copy">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <span class="contacts__break"></span>
          </div>
          <div class="contacts__body">
            <ul class="contacts__body-section unstyled-list">
              <li class="contacts__days">Monday- Friday</li>
              <li class="contacts__program">06:00 AM - 10:00 PM</li>
            </ul>
            <ul class="contacts__body-section unstyled-list">
              <li class="contacts__days">Saturday - Sunday</li>
              <li class="contacts__program">08:00 AM - 16:00 PM</li>
            </ul>
          </div>
          <span class="contacts__break"></span>
          <footer class="contacts__footer">
            <div class="contacts__actions">
              <address>
                <ul class="unstyled-list contacts__address">
                  <li>
                    <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </address>
            </div>
          </footer>
        </article>

        <!-- contactss no.2 -->

        <article class="contacts__container contacts__receptive">
          <div class="contacts__header">
            <h3 class="contacts__crawler contacts__crawler--modifier">
              FOOD TRUCK
            </h3>
            <h3 class="contacts__title">Los Angeles</h3>
            <p class="contacts__copy">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <span class="contacts__break"></span>
          </div>
          <div class="contacts__body">
            <ul class="contacts__body-section unstyled-list">
              <li class="contacts__days">Monday- Friday</li>
              <li class="contacts__program">06:00 AM - 10:00 PM</li>
            </ul>
            <ul class="contacts__body-section unstyled-list">
              <li class="contacts__days">Saturday - Sunday</li>
              <li class="contacts__program">08:00 AM - 16:00 PM</li>
            </ul>
          </div>
          <span class="contacts__break"></span>
          <footer class="contacts__footer">
            <div class="contacts__actions">
              <address>
                <ul class="unstyled-list contacts__address">
                  <li>
                    <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </address>
            </div>
          </footer>
        </article>

        <!-- contactss no.3 -->

        <article class="contacts__container contacts__receptive">
          <div class="contacts__header">
            <h3 class="contacts__crawler">CAFE</h3>
            <h3 class="contacts__title">New York</h3>
            <p class="contacts__copy">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <span class="contacts__break"></span>
          </div>
          <div class="contacts__body">
            <ul class="contacts__body-section unstyled-list">
              <li class="contacts__days">Monday- Friday</li>
              <li class="contacts__program">06:00 AM - 10:00 PM</li>
            </ul>
            <ul class="contacts__body-section unstyled-list">
              <li class="contacts__days">Saturday - Sunday</li>
              <li class="contacts__program">08:00 AM - 16:00 PM</li>
            </ul>
          </div>
          <span class="contacts__break"></span>
          <footer class="contacts__footer">
            <div class="contacts__actions">
              <address>
                <ul class="unstyled-list contacts__address">
                  <li>
                    <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </address>
            </div>
          </footer>
        </article>
      </div>
      <div class="contacts__buttons-container">
        <button data-modal-open class="contacts__button">
          <span>Our Locations</span>
          <svg width="10px" height="10px" fill="#fff">
            <use href="./images/contacts/contacts-icons.svg#icon-vector"></use>
          </svg>
        </button>
        <button
          data-modal-open-franchise
          class="contacts__button contacts__button--franchise"
        >
          <span>Franchise</span>
          <svg width="12px" height="10px">
            <use
              href="./images/contacts/contacts-icons.svg#icon-vector-red"
            ></use>
          </svg>
        </button>
      </div>
    </section>
  </body>
</html>
