<section class="gallery" id="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title">Ice-cream's gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__list-column-first">
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-11.jpg     1x,
              /src/images/gallery/home-pic-M-11-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-11.jpg     1x,
              /src/images/gallery/home-pic-T-11-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic11.jpg     1x,
              /src/images/gallery/home-pic11-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-1"
            src="/src/images/gallery/home-pic-M-11.jpg"
            alt="home-pic-M-11"
          />
        </picture>
      </li>
      <li class="gallery__list-column-second">
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-21.jpg     1x,
              /src/images/gallery/home-pic-M-21-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-21.jpg     1x,
              /src/images/gallery/home-pic-T-21-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic21.jpg     1x,
              /src/images/gallery/home-pic21-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-2"
            src="/src/images/gallery/home-pic-M-21.jpg"
            alt="home-pic-M-21"
          />
        </picture>
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-22.jpg     1x,
              /src/images/gallery/home-pic-M-22-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-22.jpg     1x,
              /src/images/gallery/home-pic-T-22-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic22.jpg     1x,
              /src/images/gallery/home-pic22-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-3"
            src="/src/images/gallery/home-pic-M-22.jpg"
            alt="home-pic22"
          />
        </picture>
      </li>
      <li class="gallery__list-column-third">
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-31.jpg     1x,
              /src/images/gallery/home-pic-M-31-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-31.jpg     1x,
              /src/images/gallery/home-pic-T-31-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic31.jpg     1x,
              /src/images/gallery/home-pic31-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-4"
            src="/src/images/gallery/home-pic-M-31.jpg"
            alt="home-pic31"
          />
        </picture>
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-32.jpg     1x,
              /src/images/gallery/home-pic-M-32-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-32.jpg     1x,
              /src/images/gallery/home-pic-T-32-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic32.jpg     1x,
              /src/images/gallery/home-pic32-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-5"
            src="/src/images/gallery/home-pic-M-32.jpg"
            alt="home-pic32"
          />
        </picture>
      </li>
      <li class="gallery__list-column-fourth">
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-41.jpg     1x,
              /src/images/gallery/home-pic-M-41-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-41.jpg     1x,
              /src/images/gallery/home-pic-T-41-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic41.jpg     1x,
              /src/images/gallery/home-pic41-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-6"
            src="/src/images/gallery/home-pic-M-41.jpg"
            alt="home-pic41"
          />
        </picture>
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-42.jpg     1x,
              /src/images/gallery/home-pic-M-42-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-42.jpg     1x,
              /src/images/gallery/home-pic-T-42-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic42.jpg     1x,
              /src/images/gallery/home-pic42-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-7"
            src="/src/images/gallery/home-pic-M-42.jpg"
            alt="home-pic42"
          />
        </picture>
      </li>
      <!-- <li class="gallery__list-column-fifth">
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-51.jpg     1x,
              /src/images/gallery/home-pic-M-51-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-51.jpg     1x,
              /src/images/gallery/home-pic-T-51-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic51.jpg     1x,
              /src/images/gallery/home-pic51-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-8"
            src="/src/images/gallery/home-pic-M-51.jpg"
            alt="home-pic51"
          />
        </picture>
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-52.jpg     1x,
              /src/images/gallery/home-pic-M-52-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-52.jpg     1x,
              /src/images/gallery/home-pic-T-52-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic52.jpg     1x,
              /src/images/gallery/home-pic52-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-9"
            src="/src/images/gallery/home-pic-M-52.jpg"
            alt="home-pic52"
          />
        </picture>
      </li> -->
      <li class="gallery__list-column-sixth">
        <picture>
          <source
            media="screen and (max-width:767px)"
            srcset="
              /src/images/gallery/home-pic-M-61.jpg     1x,
              /src/images/gallery/home-pic-M-61-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:768px) and (max-width: 1199px)"
            srcset="
              /src/images/gallery/home-pic-T-61.jpg     1x,
              /src/images/gallery/home-pic-T-61-@2x.jpg 2x
            "
          />
          <source
            media="screen and (min-width:1200px)"
            srcset="
              /src/images/gallery/home-pic61.jpg     1x,
              /src/images/gallery/home-pic61-@2x.jpg 2x
            "
          />
          <img
            class="gallery__list-pictures picture-10"
            src="/src/images/gallery/home-pic-M-61.jpg"
            alt="home-pic61"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
